.float{
  position:fixed;
  width:55px;
  height:55px;
  bottom:110px;
  right:25px;
  background-color:#D85C72;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}
.float:hover{
  background-color: rgba(216, 92, 114, 0.51);
  .icon-btn-floating{
      color: #FFFFFF !important;
  }
}

.icon-btn-floating{
  margin-top:17px;
}
.tooltip-chat-button{
  position: fixed;
  background-color: #FFFFFF;
  bottom: 180px;
  color: #844550;
  right: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.30);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.tooltip-chat-button:after{
  content: "";
  position: absolute;
  bottom: -9px;
  left: 75%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  transform: rotate(45deg);
}
