.content-consent-forms {
  .con-slot-label {
    margin-left: 0.1rem;
  }
  a {
    font-size: 0.9rem !important;
  }
  .text-accept-terms{
    color: #792141
  }
  .text-accept-terms:hover{
    color: #D85C72 !important;
  }
}
