.payment-history{
  .icon-more{
    font-size: 1.3rem;
    cursor: pointer
  }
  .icon-more i:hover{
    color:#D85C72 !important;
  }
}
.invoice-table .text-end{
  text-align: right !important;
  font-weight: bold;
}
